html, body {
    height: 100%;
}

/* prevent scrolling while during modal */
body.modal-open {
    overflow: hidden;
}

/* optional: override bootstrap image gallery */
.modal-gallery {
    margin-top: 0 !important;
}
@media (max-width: 767px) {
    .modal-gallery {
        margin-left: 0 !important;
    }
    .modal-fullscreen {
        left: 0 !important;
        right: 0 !important;
    }
}